str(20)

In [2]:
set(list[1,12,3])

TypeError: 'types.GenericAlias' object is not iterable

In [3]:
set([1,2,3])

{1, 2, 3}

In [4]:
list['LIST']

list['LIST']

In [5]:
list('LIST')

['L', 'I', 'S', 'T']

In [6]:
print(dict([["name","John"],[10,50]]))

{'name': 'John', 10: 50}

In [7]:
i=585
b=323.5
z= i+b

In [8]:
print(z)

908.5

In [9]:
i=585
b='muthu'
z= i+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
i='priya'
b='muthu'
z= i+b

In [11]:
print(z)

priyamuthu

In [16]:
int_var = 768
string_var = float("55.7")
conversion1 =  string_var + int_var

print(' Datatype of int_var is:' ,type(int_var))
print(' Datatype of String_var is:' ,type(string_var))
print('the new value of conversion is:' ,conversion1)
print('dataype of conversion is:' ,type(conversion1))

 Datatype of int_var is: <class 'int'>
 Datatype of String_var is: <class 'float'>
the new value of conversion is: 823.7
dataype of conversion is: <class 'float'>

In [18]:
num= input('enter the num:')
add = num+ 50
print(add)

enter the num:5

TypeError: can only concatenate str (not "int") to str

In [19]:
num= input('enter the num:')
num1= input('enter the num1:')
add = num+ num1
print(add)

enter the num:1
enter the num1:3
13

In [20]:
num= input('enter the num:')
num1= input('enter the num1:')
add = num+ num1
print(add)

enter the num:muthu
enter the num1:priya
muthupriya

In [21]:
a= eval(10*8)

TypeError: eval() arg 1 must be a string, bytes or code object

In [22]:
a= eval('10*8')

## operators

In [23]:
x=52
y =67

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x**y)

119
-15
3484
0.7761194029850746
0
9380457573341078260360729208857670265654516128325759011734668892775880418036530473920337497174000485334945342947328

In [24]:
round(2.3)

2

In [25]:
print(round(4.5))

4

## Logical operators

In [26]:
x= True
y= False
print(x and y)
print(x or y)

False
True

In [27]:
print(not x)

False

In [28]:
x1= 10
y1 = 10

In [29]:
print(x1 is y1)

True

In [30]:
x3=[1,2,3]
y3=[1,2,3]

In [31]:
print(x3 is y1)

False

In [32]:
id(x1),id(y1)

(2376601856592, 2376601856592)

In [33]:
id(x3),id(y3)

(2376682939392, 2376682656768)

## Membership operators

In [1]:
x='heelo'

In [2]:
print('h' in x)

True

In [3]:
y={10:'a',12:'b'}

In [4]:
y(12)

TypeError: 'dict' object is not callable

In [5]:
y[12]

'b'

## if statement

In [7]:
num = int(input('Enter the Value:'))
if num >= 0:
    print('posotove')
else:
    print('negative')

Enter the Value:52
posotove

## if else

In [8]:
num = int(input('Enter the Value:'))
if num > 0:
    print('posotove')
elif num == 0:
    print('zero')
else:
    print('negative')

Enter the Value:0
zero

## Nesteed if

In [11]:
num = int(input('Enter the Value:'))
if num >= 0:
    if num == 0:
        print('zero')
    else:
        print('podotve')
else:
    print('negr')

Enter the Value:0
zero

In [12]:
list=[1,2,3]

## for loop

In [1]:
print('get')

get

In [2]:
list_city = ['chennai','kolkata','Mumbai']
len(list_city)

3

In [3]:
for i in range(len(list_city)):
    print(list_ciy[i])

NameError: name 'list_ciy' is not defined

In [4]:
for i in range(len(list_city)):
    print(list_city[i])

chennai
kolkata
Mumbai

In [12]:
num =[1,10,100]

for i in num:
    if (i == 100):
        break
    print(' I have', i ,'days')
else:
    print(' I have', i ,'days')

 I have 1 days
 I have 10 days

## while loop

In [14]:
num = int(input('enter the number'))
i=0
sum_var = 0

while i < num:
    sum_var = sum_var + i    
    i = i + 1
print('The sum of numbers is:' ,sum_var)

enter the number3
1
2
3
The sum of numbers is: 3

In [16]:
num = int(input('enter the number'))
i=0
sum_var = 0

while i < num:
    sum_var = sum_var + i    
    i = i + 1
else:
    print(i)
print('The sum of numbers is:' ,sum_var)

enter the number5
5
The sum of numbers is: 10

## break and continue

In [17]:
for i in 'country':
    if i=='r':
        break
    print(i)

c
o
u
n
t

In [18]:
for i in 'country':
    if i=='r':
        continue
    print(i)

c
o
u
n
t
y

In [19]:
lis_val = ['p','a','s','s']
for i in lis_val:
    pass

## functions

In [20]:
def greetings(name):
    """func to greet someone"""
    print('Hello',name,'how r u')

In [22]:
greetings('guys')

Hello guys how r u

In [23]:
def fun1(val):
    val1=abs(val)
    return val1

In [24]:
fun1(-8)

8

In [25]:
def absolute_val(value):
    """fucn to return the absolute value"""
    if value > 0:
        return value
    else:
        return -value

In [26]:
absolute_val(-6)

6

def func():
    a = 10 #local variable
    print('inside', a)
a=20 #global variable
func()
print('helo', a)

## Function arguments

In [29]:
def greet(a1,a2):
    print(a1,a2)

In [30]:
greet()

TypeError: greet() missing 2 required positional arguments: 'a1' and 'a2'

In [31]:
greet(2,3)

2 3

In [32]:
greet('ggod','eveung')

ggod eveung

## default arguments

In [33]:
def greet(a1,a2 ='good morn'):
    print('hello',a1,a2)

In [34]:
greet('people')

hello people good morn

In [35]:
greet('p','he  r u')

hello p he  r u

In [36]:
def greet(arg2= 'good morn', a1):
    print('hello',a1,a2)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_8396/785707669.py, line 1)

## keyword arguments

In [37]:
greet(a1='hi',a2='evryone')
greet(a2='evryone',a1 ='hi')
greet('hi',a2='evryone')

hello hi evryone
hello hi evryone
hello hi evryone

## Recursion

In [39]:
def recursion(a):
    if a == 1:
        return a
    else:
        return (a * recursion(a-1))
num = 5
print('fac of a', num , 'is', recursion(num))

fac of a 5 is 120

## anonymous function - Lambda

In [50]:
cube = lambda x : x * x * x

In [51]:
cube(34)

39304

# Filter and MAP

In [52]:
my_list= list(range(20))

In [53]:
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [54]:
fil = list(filter(lambda x: x % 2 == 0,my_list))

In [55]:
print(fil)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Map

In [59]:
my_list = [1,5,4,7,6,8,11,3,12]

new_list = list(map(lambda x: x%2, my_list))
print(new_list)

[1, 1, 0, 1, 0, 0, 1, 1, 0]

In [61]:
fil = list(map(lambda x: x.upper(), ['a','b','c']))

In [62]:
print(fil)

['A', 'B', 'C']

In [63]:
my_dict = {10: 'B', 20: 'A', 30: 'A', 40: 'B', 50: 'A'}  
filt1 = list((filter(lambda x : x > 10,my_dict)))
print(filt1)

[20, 30, 40, 50]